@use "variables" as *;
@use "mixins" as *;

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

header{
    width: 100%;
    background-color: $primary-color;
    padding: 1rem 1.5rem;
    nav{
        @include flex-center;
        gap: 3rem;
    }

    a{
        text-decoration: none;
        color: $text-light;
        cursor: pointer;
        border: 2px solid $secondary-color;
        border-radius: 12px;
        padding: 6px 12px;
        background-color: $secondary-color;

        &.active{
            background-color: $active-color;
        }

        &:hover:not(.active){
            background-color: $active-color
        }
    }
}