@use "variables" as *;
@use "mixins" as *;

.hero-container{
    background-color: $background-page;
    @include flex-center-column;
    color: $text-light;
    padding: $spacing-large;
    min-height: calc(100vh - 120px);
    gap: $spacing-medium;
    .hero-text{

        h1{
            text-align: center;
            color: $secondary-color;
            font-size: 2.5rem;
        }

        ul li{
            color: $text-light;
        }
    }

    .hero-img{

        img{
            max-width: 20rem;
            width: 100%;
            height: auto;
            border-radius: 12px;
            border: 2px solid $secondary-color;
        }
    }

    .hero-btn{
        text-decoration: none;
        color: $text-dark;
        border: 2px solid $secondary-color;
        border-radius: 12px;
        padding: 10px 24px;
        background-color: $secondary-color;
        cursor: pointer;
        font-weight: bold;

        &:hover{
            background-color: $active-color;
            border-color: $active-color;
            color: $text-light;
        }
    }
}