//texfärg
$text-light: white;
$text-dark: black;

//bakgrundsfärg
$background-light: white;
$background-dark: black;

//typografi
$font-primary: "Arial, sans-serif";
$font-secondary: "Verdana, sans-serif";

//media quary
$breakpoint-desktop: 1023px;
$breakpoint-mobile: 600px;

//mellanrum
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;