//Färger
$text-light: #ffffff;
$text-dark: #1a1a1a;

$primary-color: #1f2937;
$secondary-color: #f59e0b;
$active-color: #ef4444;

$background-light: white;
$background-dark: black;

$background-page: #1a0a2e;



//typografi
$font-primary: "Arial, sans-serif";
$font-secondary: "Verdana, sans-serif";

//media quary
$breakpoint-desktop: 1023px;
$breakpoint-mobile: 600px;

//mellanrum
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;